/* Google Font-Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');
/* font */
body{
  font-family: Work Sans;
}
/* -nav-bar-style-section 
-------------------------*/
.header-body-color{
    background: rgba(255, 144, 14, 0.1);
}
.navbar-div-class{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.G3-Architects-text-h1{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
    margin-left: 228px;
    margin-top: 50px;
}
ul{
     list-style-type: none;
     display: flex;
     margin-right: 240px;
     margin-top: 63px;
     font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    
}
ul li{
    padding: 1em;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
    text-align: center;

}
ul a{
    text-decoration: none;
    color: #424242;
}
/*----------- banar-section-style
-----------------------------*/
.first-bannar-photo{
margin-bottom: 45px;


}
.banar-div-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BrandNew-text, .BrandNew-Gtext{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
.BrandNew-Gtext{
    margin-top: -35px;
}
.banar-div-section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: -15px;
}
/* button style(1) ---
---------------------*/
.btn-style{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 50px;
}
/* Quick list of Our Features-style */
.team-photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}
.teamPhto-Quick-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}
.teamPhto-Quick-section p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    

}
.quick-text-section{
    margin-left: 73px;
}